* {
    box-sizing: border-box;
}

body {
    color: white;
    min-width: 900px;
    width: 100%;
}

footer {

    height: 50px;
    background: pink;
}

/* style the main content */
section {
    background: url("../assets/images/main.jpg") bottom no-repeat;
    object-fit: cover;
    height: 550px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

nav {
    border-radius: 5px;
    background: linear-gradient(#666, #5e5e5e, #707070, #808080);
    width: 900px;
    height: 40px;
    align-self: end;
    justify-self: center;
}

.verses {
    align-self: flex-start;
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li:first-child {
    border: none;
}

li {
    border-left: 1px solid black;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


